
.image img{
    width: 10rem;
    border: 1px solid white;
    border-radius: 17px;
    margin-right: 13px;
}
.content{
    color: black;
}
.content h1{
    font-size: 45px;
    line-height: 6px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.content a{
    border: 1px solid white;
    padding: 5px 16px;
    border-radius: 5px;
    transition: all 0.3s;
    color: white;
}
.profilea{
    border: none !important;
}
.profilea:hover{
    background: none !important;
}
.content a:hover{
background-color: grey;
}
.content p{
    font-size: 18px;
    color: white;
}
.mainfirstsect{
   
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}
.mainfirst{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}
@media (max-width:700px){
.mainfirstsect{
    width: 100%;
}}
@media (max-width:550px){
    .mainfirst{
        flex-direction: column;
    }
}
@media (max-width:340px){
 .content h1{
    font-size: 35px;
    
}   
}
